.av-recorder{}

.av-recorder.banner,
.overwriteRow{
    width: 70%;
    margin: 0 auto 30px;
    /* height: 400px; */
}

.av-recorder.banner{
    border: solid 1px;
}


.av-recorder.banner .media-section{
    padding: 40px;   
}

.av-recorder.banner .media-section:first-child{
    border-bottom: solid 1px;
}

.video-recorder{
    margin-bottom: 30px;
    height: 580px;
}

.video-recorder .izqAIV{
    bottom: 35%;
}

.foot-icon {
    margin: 30px auto !important;
    display: flex;
    justify-content: space-between;
}

.foot-icon .icon-set{
    text-align: center;
    cursor: pointer;
    color: #686868;
}

.foot-icon .icon-set:hover{
    /* opacity: 0.8; */
    color: #000;
}

.foot-icon .icon-set svg{
    display: block;
    margin: 0 auto 5px;
}

.btm-action-container{
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    display: flex;
    justify-content: space-between;
}

.btm-action-container button{
    width: 48%;
}

.ad-rec-con{
    padding: 60px 30px;
    text-align: center;
    border: solid 1px;
}

.ad-rec-con audio{
    width: 100%;
    margin-bottom: 30px;
}

.ad-rec-con .btn-container button{
    margin: 0 10px;
}

.vdplayer{
    margin-bottom: 50px;
}

.dd-hanger{
    padding: 10px;
    border-bottom: solid 1px #bdbdbd;
    cursor: pointer;
}

.dd-hanger audio{
    background: #f1f3f4;
    width: 100%;
}

.dd-hanger:hover{
    background-color: #f5f5f5;
}

.dd-hanger svg{
    font-size: 42px;
    margin-right: 10px;
}

.dd-hanger span:last-child{
    font-size: 13px;
    margin-top: .5em;
}

.dd-hanger:last-child{
    border-bottom: unset;
}