div.modal {
    display:  block;
    position:  fixed;
    left:  0;
    right:  0;
    top:  0;
    bottom:  0;
    background-color : rgba(68, 68, 68, 0.38);
    z-index:  999;
    overflow:  auto;
}


div.modal .close-modal-btn{
    position: absolute;
    color: #fff;
    right: 25px;
    top: 0px;
    font-size: 56px;
    cursor: pointer;
}

div.modal .modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 650px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    overflow: auto;
    max-height: 100vh;
    z-index: 99999;

}

div.modal .modal-header .close-modal-btn{
    color: #000;
    font-size: 2rem;
}